@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure there are no additional styles that apply a gradient */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 100%;
  }
}

@layer base {
  body {
    @apply antialiased min-h-screen;
  }
}
